/src/public/sass/
/src/public/js/content/
/src/public/js/form/
/src/public/js/src_client_app_vue.bundle.js
/src/public/js/vendors-node_modules_axios_index_js.bundle.js
/src/public/js/widget/
/src/public/js/vendor/
/src/public/js/utils/
/src/public/js/sidebar/
/src/public/js/landing/
/src/public/js/header/
/src/public/js/global/
/src/public/img/
/src/public/css/
